/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

body {
    width: 225px;
}

div#main {
    width: 150px;
    font-size: 9pt;
}

img.gravatarPicture {
    width: 40px;
}

tr.listElement {
    background: #e7e7e7;
}
